* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive; /*font retrieved from googleApi stylesheet linked in html*/
}

html {
  background-color: #222; /*background color for entire game/top parent container*/
  color: white; /*default font color*/
}

#pixelate {
  display: flex;
  flex-direction: column; /*needs to be column since its the "pixelate headline, div containing the buttons to add a row and select colors, and actual table with rows. All of these have to be in column format not row, so they are stacked on top of each other */
  align-items: center; /*in column direction so this centers along cross axis, x axis in this case. */
}

#buttons-container {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

select {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 0.5rem 0 0.5rem;
  font-size: 0.9rem;
}

td {
  /*style each individual rectangle cell of data, several of these make up a row, each one will get colored as user clicks on it- lightgray is the default*/
  background-color: lightgray;
  width: 50px;
  height: 50px;
  transition: background-color 0.35s ease;
}

/*below stylings allow the user to switch colors and paint each rectangle different color*/
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.indigo {
  background-color: indigo;
}
.violet {
  background-color: violet;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.brown {
  background-color: brown;
}
.clear {
  background-color: lightgray;
}
